@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Machine Name</h2>
        <small>
            @System.Environment.MachineName
        </small>
    </div>
    <div class="col-md-3">
        <h2>URI</h2>
        @Context.Request.Host.ToUriComponent().ToString()
    </div>
    <div class="col-md-3">
        <h2>OS</h2>
        @System.Runtime.InteropServices.RuntimeInformation.OSDescription (@System.Runtime.InteropServices.RuntimeInformation.OSArchitecture)
    </div>
    <div class="col-md-3">
        <h2>FrameworkDescription</h2>
        @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
    </div>
</div>
